* {
    margin: 0;
}

.total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    column-gap: 1vw;
}

.container1,
.container2 {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw
}


.container1 div,
.container2 div {
    background-color: cadetblue;

}

.container1 div:nth-child(2n+1),
.container2 div:nth-child(2n) {
    opacity: 0.3;
}