.box1 {
    background-color: brown;
}

.box2 {
    background-color: blueviolet;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: green;
}

.box6 {
    background-color: yellowgreen;
}

.box7 {
    background-color: black;
}

.box8 {
    background-color: coral;
}

.box9 {
    background-color: cadetblue;
}

.box10 {
    background-color: deeppink;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ================================================================================= */

.container {
    height: 500px;
    display: grid;

    /*
        < 7 행 3열 구조의 그리드 레이아웃 >
    */
    grid-template: 1fr repeat(2, 3fr) repeat(4, 1fr) / repeat(2, 3fr) 2fr;
}

.box1 {
    /* 
        - 4개의 Column Line Number 8개의 Row Line Number 로 레이아웃 구성.

    ※ 엑셀 파일 참조 - 5_CSS(Cascading_Style_Sheet)-11_Layout-4_Grid-3_grid-colume,grid-row_span

    ===============================================================================================

        < grid-column-start, grid-column-end >

    - 병합할 열들에 대한 시작 Column Line Number 와 종료 Column Line Number 지정.

      ※ 병합은 그리드 개별 요소에 대하여 사각형 형태로만 병합 가능하며 교차 병합은 불가.
           단, grid-area 속성을 이용하면 요소간 교차 병합 가능.
    */
    grid-column-start: 1;
    grid-column-end: 4;
}

.box2 {
    /* 
        < grid-row-start, grid-row-end >

    - 병합할 행들에 대한 시작 Row Line Number 와 종료 Row Line Number 지정.
    */
    grid-row-start: 2;
    grid-row-end: 4;
}

.box3,
.box4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.box6 {
    /* 
        정의된 행열 구조와 grid-column-start, grid-column-end 생략 시 디폴트로
        하나의 셀 영역만 지정됨으로써 grid-column-start, grid-column-end 지정
        불필요.
    */

    /* grid-column-start: 3;
    grid-column-end: 4; */
}

.box7 {
    /* 
        < grid-column, grid-row >

    - grid-column-start, grid-column-end, grid-row-start, grid-row-end 의 축약 속성.


        < 형식 >

    속성명 : start_Num / end_Num
    */
    grid-column: 1 / 4;
}

.box8 {
    /* 
        < span >

    - 병합할 행 또는 열 갯수를 지정.
      시작 번호 생략 시 해당 아이템이 속한 라인 넘버를 기준으로 병합.

      하기 코드는 하나의 셀만 병합하므로 불필요.
    */
    grid-column: 1 / span 1;
}

.box9 {
    /* grid-column: 2 / span 2; */
    grid-column: span 2;
}

.box10 {
    /*
        < 음수 라인 번호 >

    - 라인 번호를 끝에서 부터 카운팅.
    */
    /* grid-column: 1 / -2; */
}